header {
    min-height: 100px;
    background: black;
    padding: 20px 0;
}

.right_part {}

.right_part h1 {
    color: white;
    font-size: 40px;
}
.crowd_right h5 {
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: bold;
}
.logo_img{
    
}
.mid-part {}

.mid_part hr {
    width: 50%;
    border: 3px dashed white;
}

.last_part {}

.last_part h1 {
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.btn1 {
    margin-left: 37%;
    border: none;
    background: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

.btn2 {
    border: none;
    background: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

/*Header End*/

.search_bar {
    min-height: 75px;
    background: yellow;
}

.custom_nav {}

.custom_nav ul li a {
    color: black !important;
    font-size: 25px;
    font-weight: bold;

}

.custom_nav ul li a:hover {
    color: orangered !important;
}

/*Search_bar End*/

.slider {
    min-height: 500px;
    background: white;
    padding: 30px 0;
}

.slider_text {}

.slider_text h1 {
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 700;
    color: #E3000F;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px 0;
}

.slider_text p {
    color: black;
    font-size: 25px;
    font-family: 'Lora', serif;
    font-weight: 400;
}

.slider_img {
    padding: 30px 0;
}

.slider_text h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    color: #F07C00;
    font-size: 50px;
}


/*Slider End*/

.join {
    min-height: 400px;
    background: white;
}

.join_text {
    min-height: 100px;
    border: 5px solid #E5007D;
}

.join_text h1 {
    position: absolute;
    position: absolute;
    margin: 15px 20px;
    color: #E5007D;
    font-size: 40px;
    font-weight: bold;
}

.join_text p {
    margin: 15px 80px;
    color: #E5007D;
    font-size: 25px;
    font-weight: bold;
}

.join_left {}

.join_left h2 {
    font-size: 40px;
    color: black;
}

/*Join End*/

.money {
    min-height: 500px;
    background: white;
}

.money_text {
    padding: 30px 0;
}

.money_text h1 {
    color: #2F2483;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Lora', serif;
    text-transform: unset;
}

.money_box {
    padding: 15px 0;
}

.money_box h3 {
    color: #E3000F;
    padding: 5px 0;
    font-size: 25px;
    font-weight: bold;
}

/*Money End*/

.mission {
    min-height: 450px;
    background: #D9DADA;
}

.mission_box {
    padding: 30px 0;
}

.mission_box h1 {
    padding: 10px 0;
    color: #E3000F;
    font-size: 37px;
    font-weight: bold;
}

.mission_box p {
    color: black;
    font-size: 18px;
}

/*Mission End*/

.crowd {
    min-height: 500px;
    background: white;
}

.crowd_head {
    padding: 25px 0;
}

.crowd_head h1 {
    font-family: 'Lora', serif;
    font-size: 68px;
    font-weight: 700;
    color: #E3000F;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.join2_text {
    min-height: 100px;
    border: 5px solid #2F2483;
}

.join2_text h1 {
    position: absolute;
    position: absolute;
    margin: 15px 20px;
    color: #2F2483;
    font-size: 40px;
    font-weight: bold;
}

.join2_text p {
    margin: 15px 80px;
    color: #2F2483;
    font-size: 25px;
    font-weight: bold;
}

.crowd_right {}

.crowd_right h2 {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
}

.crowd_right h3 {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
}

.crowd_right h4 {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    color: #E3000F;
}

.crowd_right h5 {
    font-family: 'Lora', serif;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0;
}

/*Crowd Ends*/

.formula {
    min-height: 400px;
    background: white;
}

.formula_head {
    min-height: 100px;
    border: 4px solid #00963F;
    width: 90%;
    margin: 0 auto;
}

.formula_head h1 {
    font-family: 'Lora', serif;
    font-size: 45px;
    font-weight: 700;
    color: #00963F;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 20px 0;
}

.formula_text{
    padding: 60px 0;
}
.formula_text h1{
    color: black;
font-size: 45px;
font-weight: 400;
text-transform: uppercase;
}
.formula_text h2{
    color: black;
font-size: 45px;
font-weight: 400;
text-transform: uppercase;
}
.formula_img{
    padding: 20px 0;
}
/*Formula End*/

.crowd_img{
    min-height: 500px;
    padding: 30px 0;
}

/*crowdimg End*/

.navstwo{
    min-height: 80px;
    background: #FFED00;
}
.menu_bar{}
.menu_bar h1{
    font-size: 15px;
color: black;
font-weight: bold;
padding: 33px 0;
}

/*crowd_img End*/


.last{
    min-height: 200px;
    background-color: whitesmoke;
    padding: 30px 0;
}

.lleft{}
.lleft h2{
    color: #E3000F;
font-size: 25px;
font-weight: bold;
}
.lleft h1{
    color: black;
font-size: 20px;
font-weight: bold;      
}

.lmiddle{
    padding: 40px 0;
text-align: center;
}
.lmiddle h1{
    color: #E3000F;
font-size: 25px;
font-weight: bold;
}
.lmiddle h2{
    color: black;
font-size: 20px;
font-weight: bold;
}

.lright{
    background: #040108;
}
.lright h1{
    color: #53C0D5;
font-size: 20px;
font-weight: 700;
text-align: center;
}

.icons{}















